node_modules
npm-debug.log
vendor
.git
.gitignore
README.md
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
.vagrant
docker-compose.override.yml
storage/logs/*.log
bootstrap/cache/*.php
.DS_Store
*.swp
*.swo
*~
